body{
	background:url('../img/landingbg.jpg') no-repeat;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	font-family: "Lato", Sans-Serif;
	background-attachment: fixed;
	background-size: 100% 100%;
	padding:0px;
	margin:0px;
	width:0px;
}

a, a:visited, a:hover, a:active {
	text-decoration: none;
	color: white;

}

#menubb {
	outline: #17171a solid 5px;
	background-color: #2e2e33;
	position:absolute;
	height:85px;
	width:100%;
	top:0px;
	color:white;
	z-index:2;
	left:0px!important;
}

#menucontbb {
	margin:0 auto;
	height:100%;
	width:50%;
}

#menuname {
	display:inline-block;
	line-height:85px;
	float:left;
}

#nwplayer123 {
	font-family:"Montserrat";
	font-weight:bolder;
	font-size:35px;
}

#linkbb {
	display:inline-block;
	line-height: 85px;
	height:85px;
	float:right;
}

.menulink {
	display: inline-block;
	text-decoration:none;
	font-weight:lighter;
  	line-height:normal;
	font-size:20px;
	padding:0 15px;
}

#mainbodybb {
	position:absolute;
	width:100%;
	top:100px;
}

#maincontbb {
	background-color: #2e2e33;
	border: #17171a solid 5px;
	border-radius:15px;
	position:relative;
	margin:0 auto;
	width:50%;
	z-index:1;
}

#maincont {
	font-family:"Lato";
	line-height:40px;
	font-size:30px;
	padding:35px;
	color:white;
}
#iconbb {
	text-align: center;
	padding-top:25px;
	margin: 0px auto;
	width:100%;
}

#twitter, #github, #linkedin, #youtube, #email {
	display:inline-block;
	vertical-align:top;
	zoom:1;
}

#twitter, #github {
	font-size:90px;
	width: 150px;
}

#linkedin, #youtube {
	font-size:90px;
	width:175px;
}

#email {
	position:relative;
	font-size:128px;
	width:175px;
	height:0px;
	top:-18px;
}

#footerbb {
	background-color: #17171a;
	position:absolute;
	height:60px;
	width:100%;
	color:white;
	bottom:0;
}

#footertext {
	text-align:center;
	line-height:60px;
	margin:0 auto;
	width:50%;
}